body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height : 100vh;
    background-color: hsl(27, 66%, 92%);
}

.container{
    width: 40vw;
}

.test{
    background: red;
   
}

